In [1]:
library(modelr)
library(tidyverse)

library(modelr)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.4.1     ✔ purrr   1.0.1
✔ tibble  3.2.1     ✔ dplyr   1.1.1
✔ tidyr   1.3.0     ✔ stringr 1.4.1
✔ readr   2.1.4     ✔ forcats 1.0.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
sim2$x %>% unique

[1] "a" "b" "c" "d"

In [5]:
sim2 %>% glimpse

Rows: 40
Columns: 2
$ x <chr> "a", "a", "a", "a", "a", "a", "a", "a", "a", "a", "b", "b", "b", "b"…
$ y <dbl> 1.9353632, 1.1764886, 1.2436855, 2.6235489, 1.1120381, 0.8660030, -0…

In [4]:
md <- lm(y ~ x, sim2)
summary(md)

Call:
lm(formula = y ~ x, data = sim2)

Residuals:
     Min       1Q   Median       3Q      Max
-2.40131 -0.43996 -0.05776  0.49066  2.63938

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   1.1522     0.3475   3.316  0.00209 **
xb            6.9639     0.4914  14.171 2.68e-16 ***
xc            4.9750     0.4914  10.124 4.47e-12 ***
xd            0.7588     0.4914   1.544  0.13131
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.099 on 36 degrees of freedom
Multiple R-squared:  0.8852,	Adjusted R-squared:  0.8756
F-statistic: 92.52 on 3 and 36 DF,  p-value: < 2.2e-16

## Regression

Problem 4

In [6]:
x1 = 4

y = 1.9733 + x1 * 1.0852 - 1.0469
y

[1] 5.2672

In [12]:
sim2 %>% filter(x == 'c') %>% print

# A tibble: 10 × 2
   x         y
   <chr> <dbl>
 1 c      6.86
 2 c      5.76
 3 c      5.79
 4 c      6.02
 5 c      6.03
 6 c      6.55
 7 c      3.73
 8 c      8.68
 9 c      5.64
10 c      6.21

## Sibilants

In [18]:
words[str_detect(words, '^[aeiou].*ss$')]

[1] "across"  "address" "express" "unless"

## Mode

In [30]:
mode <- function(v){
  df <- tibble(v)
  result <- df %>% count(v) %>% top_n(1) 
  result$v[1]
}

In [27]:
v = c(1,2,2,3,3)
df <- tibble(v)
result <- df %>% count(v) %>% top_n(1) 
result$v[1]

Selecting by n

[1] 2

In [31]:
df <- tibble(a=c(1, 2, 3, 4, 4, 5), b=c(T, T, F, T, F, T),
c=c("dog", "cat", "lion", "tiger", "penguin", "wolf")) 
df %>% summarize(across(everything(), mode))

Selecting by n
Selecting by n
Selecting by n

  a b    c
1 4 TRUE cat

## Sundaes

In [41]:
library(lubridate)
start_date = ymd('2023-04-28')
end_date = ymd('2023-08-27')

days = seq(from = start_date, to = end_date, by = 'day')
total_days = length(days)
total_sundays = length(days[wday(days) == 1])

total_days * 4.25 + total_sundays * 4.25

[1] 595

In [42]:
total_days

[1] 122

##  Coin-tossing game

In [75]:
n = 10000
win = 0
for(x in c(1:n)){
  toss = str_flatten(sample(c('H', 'T'), size=10, replace=T))
  win = win + str_detect(toss, 'TTTT|HHHH')
}
win/n

[1] 0.4649

## Prime numbers

In [87]:
is_prime <- function(x){
  for(n in c(2:sqrt(x))){
    if(x %% n == 0) return (F)
  }
  return (T)
}
n = 0
for (m in c(2:2024)){
  if(is_prime(m)){
    n = n+1
  }
}
n

[1] 305